*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Bebas Neue", cursive;
}
nav{
    background-color: rgb(22, 22, 22);
    width: 100vw;
    max-width: 100%;
    position: fixed;
}
nav ul{
    text-align: center;
    height: 100px;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    margin: 20px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
}

/* MAIN */
#main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
     url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#main{
    text-align: center;
    color: white;
}

#main .container{
    max-width: 1300px;
    margin: auto;
}
#main .container h1{
    padding-top: 40vh;
    font-size: 4rem;
    text-shadow: 1px 2px 20px burlywood;
}
#main .container p{
    font-size: 2rem;
    text-shadow: 1px 2px 10px burlywood;
}

/* ABOUT */

#about .container {
    max-width: 1300px;
    margin: auto;
    padding: 50px;
    padding-top: 150px;
}
#about .container .aboutimg{
    display: inline-block;
    width: 50%;
}
#about .container .aboutcontent{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
#about .container .aboutcontent h1{
    font-size: 4rem;
}
#about .container .aboutcontent p{
    font-size: 2rem;
}
#about .container .aboutcontent a{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: black;
    line-height: 100px;
    padding: 1cm 2cm;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px burlywood;
}
#about .container .aboutimg img{
    width: 90%;
    box-shadow: 0 0 20px 6px black;
}

/* CONTACT */
#contact .container{
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    padding-top: 150px;
    margin-bottom: 100px;
}

#contact .container .contactform{
    display: inline-block;
    width: 50%;
}
#contact .container .contactform form{
    border: 1px solid rgb(22, 22, 22);
    border-radius: 50px;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 20px 6px burlywood;

}
.contactformcontent {
    margin-bottom: 50px;
}
#contact .container .contactform form label{
    font-size: 2rem;
    width: 100%;
}
#contact .container .contactform form input{
    font-size: 2rem;
    width: 100%;
    padding: 10px;
}
#contact .container .contactform form button {
    color: white;
    background-color: black;
    font-size: 1.5rem;
    padding: 1em 2em;
    border-radius: 50px;
  }
#contact .container .contactimg{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding: 20px;
}

#contact img{
    width: 90%;
    box-shadow: 2px 2px 15px 5px rgb(22, 22, 22);
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
  